.location-header {
    &--container {
        @include setFont($font-family: $open-sans-cond, $color: $white);
        margin: auto;
        max-width: 120px;
        padding: 5px 0 20px;
    }

    &--name, 
    &--date {
        margin: 0;
    }

    &--name {
        align-items: center;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        max-width: 100px;
        margin: 0 auto;
    }
}

@media (min-width: $tablet) {
    .location-header {
        &--container {
            padding: 40px 0 20px;
        }
    }
}